Package: com.shiftcmdk.betterreachability
Name: BetterReachability
Depends: mobilesubstrate
Version: 0.3
Architecture: iphoneos-arm
Description: Make Reachability more useful by scaling down the interface.
Maintainer: shiftcmdk
Author: shiftcmdk
Section: Tweaks
Depiction: https://shiftcmdk.github.io/repo/depictions/?p=com.shiftcmdk.betterreachability
