<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Initial scale</string>
			<key>footerText</key>
			<string>Set the initial scale when invoking Reachability. The default option scales the interface down to 75 %.</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>ScaleCell</string>
			<key>label</key>
			<string>Default</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>ScaleCell</string>
			<key>label</key>
			<string>Remember Last Scale</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Initial position</string>
			<key>footerText</key>
			<string>Set the initial position of the interface when invoking Reachability.</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>PositionCell</string>
			<key>label</key>
			<string>Left</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>PositionCell</string>
			<key>label</key>
			<string>Right</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>PositionCell</string>
			<key>label</key>
			<string>Remember Last Position</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Background</string>
		</dict>
		<dict>
            <key>cell</key>
            <string>PSSegmentCell</string>
			<key>cellClass</key>
			<string>SegmentCell</string>
			<key>identifier</key>
			<string>backgroundSegment</string>
            <key>validValues</key>
            <array>
                <string>0</string>
                <string>1</string>
				<string>2</string>
            </array>
            <key>validTitles</key>
            <array>
                <string>Wallpaper</string>
                <string>Solid Color</string>
				<string>Custom Image</string>
            </array>
			<key>get</key>
			<string>selectedIndex</string>
			<key>set</key>
			<string>selectedIndexDidChange:</string>
        </dict>
		<dict>
			<key>cellClass</key>
			<string>ColorCell</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>ImageCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Scale indicator</string>
			<key>footerText</key>
			<string>Display a percentage based indicator that shows the current scale of the interface.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.shiftcmdk.betterreachabilitypreferences</string>
			<key>key</key>
			<string>scaleindicator</string>
			<key>label</key>
			<string>Show Scale Indicator</string>
			<key>PostNotification</key>
			<string>com.shiftcmdk.betterreachabilitypreferences.scaleindicator</string>
		</dict>
	</array>
	<key>title</key>
	<string>BetterReachability</string>
</dict>
</plist>
